<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raviserene.fyp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.raviserene.fyp.ui.auth.SignUpActivity" />
        <activity android:name="com.raviserene.fyp.ui.auth.LoginActivity" />
        <activity android:name="com.raviserene.fyp.ui.auth.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>